body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#map {
  height: 100%;
}

html,
body {
  height: 100%;
  padding: 0;
}

.title {
  font-size: 88px;
  text-transform: uppercase;
  font-weight: bold;
  color: #161616;
  position: absolute;
  top: 20%;
  left: 15%;
  z-index: 10;
}

.search-container {
  position: absolute;
  top: 33%;
  left: 15%;
  background-color: #454e53;
  width: 320px;
  height: 60px;
  z-index: 1;
  border-radius: 80px;
  overflow: hidden;
}

.search {
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.search input {
  flex-grow: 1;
  font-size: 25px;
  background-color: transparent;
  border: none;
  color: white;
}

.search input:focus {
  outline: none;
}
.search i {
  color: white;
  font-size: 25px;
}

.stores-list-container {
  position: absolute;
  top: 42%;
  left: 15%;
  bottom: 5%;
  background-color: white;
  width: 320px;
  z-index: 1;
  border-radius: 20px;
  display: flex;
  overflow-y: scroll;
}

.stores-list-container::-webkit-scrollbar {
  display: none;
}

.stores-list-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.store-info-window {
  min-width: 300px;
  font-size: 18px;
  padding: 8px;
}

.store-info-open-status {
  margin-top: 6px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 6px;
  color: rgba(0, 0, 0, 0.57);
}

.store-info-name {
  font-size: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.87);
}

.store-info-address,
.store-info-phone {
  display: flex;
  margin-top: 8px;
  align-items: center;
}

.store-info-address .icon,
.store-info-phone .icon {
  background-color: #1985a1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 8px;
}

span a {
  text-decoration: none;
}

.stores-list {
  flex-grow: 1;
  padding-left: 20px;
  padding-right: 20px;
}

.store-container {
  border-bottom: 1px solid #979797;
  margin-bottom: 10px;
  margin-top: 10px;
}

.store-info-container {
  flex-grow: 1;
}

.store-address {
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  color: #514c4c;
}

.store-address span {
  display: block;
}

.store-phone-number {
  color: #b5adad;
  margin-top: 15px;
  margin-bottom: 15px;
}

.store-number-container {
  background-color: #454e53;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.store-container-background {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.store-container-background:hover {
  background-color: rgba(0, 0, 100, 0.1);
}

.intro {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.enter-zip {
  color: #514c4c;
  font-size: 22px;
}

.find-stores {
  color: #1985a1;
  font-size: 18px;
}

.no-stores-found {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #514c4c;
  font-size: 20px;
}
